*{
    box-sizing: border-box;
}
html, body{
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.btn{
    font-size: 14px;
    padding: 12px;
    line-height: 42px;
    background-color: #ccc;
    transition: background-color 200ms;
    display: inline-block;
    color: black;
    text-decoration: none;

    &:hover{
        background-color: #ddd;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h3{
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    margin-bottom: 10px;
}